@charset "utf-8";

/* 動く背景 */

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* bodyの中身 */

.wrap {
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    max-width: 920px;
    margin: 40px auto;
    padding: 10px 30px;
    border-radius: 10px;

}

.title {
    font-size: 3.0rem;
    padding-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.section-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.sub-title {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 8px double red;
    font-size: 2.0rem;

}

section {
    margin-bottom: 100px;
}

.codepen {
    margin-bottom: 60px;
}

article {
    margin: 0 auto;
    margin-bottom: 40px;
}

.article-title {
    font-size: 3rem;
    padding: 1rem;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    text-align: center;
    margin-bottom: 30px;
}

pre {
    margin-bottom: 20px;
}

.process li {
    line-height: 2;
}

.process {
    list-style: circle;
    padding: 20px
}

@media screen and (min-width:768px) {
    .title {
        font-size: 6rem;
    }

    .section-title {
        font-size: 3.6rem;
    }
}