@charset "utf-8";

/* bodyの中身 */
body {
    background-image: url(../img/wallpaper.jpg);
    background-repeat: repeat;
}


.swiper-slide img {
    height: auto;
    width: 100%;
}

.wrap {
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    max-width: 920px;
    margin: 40px auto;
    padding: 10px 30px;
    border-radius: 10px;

}

.title {
    font-size: 3.0rem;
    padding-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.section-title {
    /* text-align: center; */
    font-size: 2.4rem;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.sub-title {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 8px double red;
    font-size: 2.0rem;

}

section {
    margin-bottom: 100px;
}

.codepen {
    margin-bottom: 60px;
}

article {
    margin: 0 auto;
    margin-bottom: 40px;
}

.article-title {
    font-size: 3rem;
    padding: 1rem;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    /* text-align: center; */
    margin-bottom: 30px;
}

pre {
    margin-bottom: 20px;
    border: 1px solid #000;
}

.emphasis {
    color: red;
}

.process li {
    line-height: 2;
}

.process {
    list-style: circle;
    padding: 20px
}

.img-wrap {
    margin: 20px 30px 20px;
}

.flow-wrap {
    margin-top: 15px;
}

.flow-wrap li+li {
    margin-top: 10px;
}

@media screen and (min-width:768px) {
    .title {
        font-size: 6rem;
    }

    .section-title {
        font-size: 3.6rem;
    }
}
